@use '../../abstracts' as *;

.contact {
    h3 {
        margin-bottom: var(--fs-400);
        font-family: "M PLUS Rounded 1c", sans-serif !important;
        font-size: var(--fs-700);
        color: var(--clr-yellow-500);
    }

    h4 {
        margin-bottom: var(--fs-100);
        font-family: "M PLUS Rounded 1c", sans-serif !important;
        font-size: var(--fs-400);
        color: black;
    }

    article[class^="contact"] {
        &:not(:last-child) {
            margin-bottom: var(--fs-800);
        }

        a {
            color: inherit;
            @include transition(color);

            &:hover {
                color: var(--clr-orange-500);
                @include transition(color);
            }
        }
    }

    &__expedient {
        padding-top: 10rem;
        &__content {
            margin-bottom: var(--fs-500);
        }
    }

    .map {
        margin-bottom: 10rem;
    }
}
