@use '../abstracts' as *;

.btn {
    display: inline-block !important;
    margin: 0;
    padding: 1.2rem 6rem;
    border-radius: none;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
    border: none;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;

    font: {
        family: "Nunito ExtraBold", sans-serif !important;
        size: var(--fs-400);
    }

    &:active {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
}

@each $color, $shade in $colors {
    @each $prop, $value in $shade {
        .btn-#{$color}-#{$prop} {
            background-color: $value;
            color: white;
            border-radius: 5rem;
            @include transition(background-color);

            &:hover {
                background-color: darken($value, 10%);
                @include transition(background-color);
            }
        }
    }
}
