//Nunito Regular
@font-face {
    font-family: "Nunito Regular";
    src: url("../font/Nunito/Nunito-Regular.ttf");
    font-display: swap;
    font-weight: 400;
}

//Nunito Extra-Bold
@font-face {
    font-family: "Nunito ExtraBold";
    src: url("../font/Nunito/Nunito-ExtraBold.ttf");
    font-display: swap;
    font-weight: 800;
}

//M Plus Rounded 1c Regular
@font-face {
    font-family: "M PLUS Rounded 1c";
    src: url("../font/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf");
    font-display: swap;
    font-weight: 400;
}
