@charset "UTF-8";
@font-face {
  font-family: "Nunito Regular";
  src: url("../font/Nunito/Nunito-Regular.ttf");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Nunito ExtraBold";
  src: url("../font/Nunito/Nunito-ExtraBold.ttf");
  font-display: swap;
  font-weight: 800;
}
@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("../font/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf");
  font-display: swap;
  font-weight: 400;
}
:root {
  --font-base: 50%;
  --gap: 1.5rem;
  --clr-yellow-100: #fdedd5;
  --clr-yellow-200: #fbdbab;
  --clr-yellow-300: #f8c980;
  --clr-yellow-400: #f6b756;
  --clr-yellow-500: #f4a52c;
  --clr-yellow-600: #c38423;
  --clr-yellow-700: #92631a;
  --clr-yellow-800: #624212;
  --clr-yellow-900: #312109;
  --clr-orange-100: #fee4d8;
  --clr-orange-200: #fdcab1;
  --clr-orange-300: #fcaf8b;
  --clr-orange-400: #fb9564;
  --clr-orange-500: #fa7a3d;
  --clr-orange-600: #c86231;
  --clr-orange-700: #964925;
  --clr-orange-800: #643118;
  --clr-orange-900: #32180c;
  --clr-neutral-100: #dededf;
  --clr-neutral-200: #bdbdbf;
  --clr-neutral-300: #9d9d9f;
  --clr-neutral-400: #7c7c7f;
  --clr-neutral-500: #5b5b5f;
  --clr-neutral-600: #49494c;
  --clr-neutral-700: #373739;
  --clr-neutral-800: #242426;
  --clr-neutral-900: #121213;
  --clr-gray-100: #f2f2f2;
  --clr-gray-200: #e6e6e6;
  --fs-100: 1.2rem;
  --fs-200: 1.4rem;
  --fs-300: 1.6rem;
  --fs-400: 1.8rem;
  --fs-500: 2rem;
  --fs-600: 2.4rem;
  --fs-700: 2.8rem;
  --fs-800: 4.8rem;
  --fs-900: 7.2rem;
  --x-small: 576px;
  --sm: 540px;
  --md: 720px;
  --lg: 960px;
  --xl: 1140px;
}
@media only screen and (min-width: 720px) {
  :root {
    --font-base: 62.5%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  color: inherit;
  font-size: inherit;
}

span {
  font-family: inherit !important;
}

ul,
ol {
  list-style: none;
  list-style-position: inside;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: auto;
}

i {
  color: inherit !important;
}
i::before {
  color: inherit !important;
}

img,
picture {
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: block;
}

img {
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

input,
textarea {
  width: 100%;
  height: 100%;
  padding: 1.4rem 1.6rem;
  background: none;
  border: 1.5px solid #ccc;
  color: var(--clr-neutral-100) !important;
  line-height: 1.5;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 1.4rem !important;
  color: inherit;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 1.4rem !important;
  color: inherit;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 1.4rem !important;
  color: inherit;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 1.4rem !important;
  color: inherit;
}
input::placeholder,
textarea::placeholder {
  font-size: 1.4rem !important;
  color: inherit;
}
input:focus,
textarea:focus {
  border: 2px solid var(--clr-neutral-300);
}

textarea {
  min-height: 9.6rem;
  resize: none;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  font-family: "Nunito Regular", sans-serif !important;
}

html {
  font-size: var(--font-base) !important;
  color: var(--clr-neutral-500);
}

body {
  font-size: var(--fs-300);
}

h1,
h2,
h3,
h4 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: inherit;
  line-height: 1.1;
}

strong,
b {
  font-family: "Nunito ExtraBold", sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit !important;
}
a:hover, a:focus {
  text-decoration: none;
}

address {
  font: inherit;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media only screen and (max-width: 576px) {
  body {
    display: block;
  }
}

.bg-yellow-100 {
  background-color: var(--clr-yellow-100) !important;
}

.bg-yellow-200 {
  background-color: var(--clr-yellow-200) !important;
}

.bg-yellow-300 {
  background-color: var(--clr-yellow-300) !important;
}

.bg-yellow-400 {
  background-color: var(--clr-yellow-400) !important;
}

.bg-yellow-500 {
  background-color: var(--clr-yellow-500) !important;
}

.bg-yellow-600 {
  background-color: var(--clr-yellow-600) !important;
}

.bg-yellow-700 {
  background-color: var(--clr-yellow-700) !important;
}

.bg-yellow-800 {
  background-color: var(--clr-yellow-800) !important;
}

.bg-yellow-900 {
  background-color: var(--clr-yellow-900) !important;
}

.bg-orange-100 {
  background-color: var(--clr-orange-100) !important;
}

.bg-orange-200 {
  background-color: var(--clr-orange-200) !important;
}

.bg-orange-300 {
  background-color: var(--clr-orange-300) !important;
}

.bg-orange-400 {
  background-color: var(--clr-orange-400) !important;
}

.bg-orange-500 {
  background-color: var(--clr-orange-500) !important;
}

.bg-orange-600 {
  background-color: var(--clr-orange-600) !important;
}

.bg-orange-700 {
  background-color: var(--clr-orange-700) !important;
}

.bg-orange-800 {
  background-color: var(--clr-orange-800) !important;
}

.bg-orange-900 {
  background-color: var(--clr-orange-900) !important;
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100) !important;
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200) !important;
}

.bg-neutral-300 {
  background-color: var(--clr-neutral-300) !important;
}

.bg-neutral-400 {
  background-color: var(--clr-neutral-400) !important;
}

.bg-neutral-500 {
  background-color: var(--clr-neutral-500) !important;
}

.bg-neutral-600 {
  background-color: var(--clr-neutral-600) !important;
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-700) !important;
}

.bg-neutral-800 {
  background-color: var(--clr-neutral-800) !important;
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900) !important;
}

.bg-gray-100 {
  background-color: var(--clr-gray-100) !important;
}

.bg-gray-200 {
  background-color: var(--clr-gray-200) !important;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0 calc(var(--gap) * 2);
  width: 100%;
}
@media only screen and (min-width: 540px) {
  .container {
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: var(--sm);
  }
}
@media only screen and (min-width: 720px) {
  .container {
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: var(--md);
  }
}
@media only screen and (min-width: 960px) {
  .container {
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: var(--lg);
  }
}
@media only screen and (min-width: 1140px) {
  .container {
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: var(--xl);
  }
}
@media only screen and (min-width: ) {
  .container {
    margin: 0 auto;
    padding: 0 var(--gap);
    max-width: var(--xxl);
  }
}

.d-none {
  display: none !important;
}

.p-fixed {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  left: 0;
  transition: position 300ms ease-in-out;
}

.btn {
  display: inline-block !important;
  margin: 0;
  padding: 1.2rem 6rem;
  border-radius: none;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  border: none;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  font-family: "Nunito ExtraBold", sans-serif !important;
  font-size: var(--fs-400);
}
.btn:active {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.btn-yellow-100 {
  background-color: #fdedd5;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-yellow-100:hover {
  background-color: #fbd8a4;
  transition: background-color 300ms ease-in-out;
}

.btn-yellow-200 {
  background-color: #fbdbab;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-yellow-200:hover {
  background-color: #f9c67a;
  transition: background-color 300ms ease-in-out;
}

.btn-yellow-300 {
  background-color: #f8c980;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-yellow-300:hover {
  background-color: #f5b450;
  transition: background-color 300ms ease-in-out;
}

.btn-yellow-400 {
  background-color: #f6b756;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-yellow-400:hover {
  background-color: #f3a226;
  transition: background-color 300ms ease-in-out;
}

.btn-yellow-500 {
  background-color: #f4a52c;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-yellow-500:hover {
  background-color: #e18d0c;
  transition: background-color 300ms ease-in-out;
}

.btn-yellow-600 {
  background-color: #c38423;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-yellow-600:hover {
  background-color: #98671b;
  transition: background-color 300ms ease-in-out;
}

.btn-yellow-700 {
  background-color: #92631a;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-yellow-700:hover {
  background-color: #674612;
  transition: background-color 300ms ease-in-out;
}

.btn-yellow-800 {
  background-color: #624212;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-yellow-800:hover {
  background-color: #37250a;
  transition: background-color 300ms ease-in-out;
}

.btn-yellow-900 {
  background-color: #312109;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-yellow-900:hover {
  background-color: #060401;
  transition: background-color 300ms ease-in-out;
}

.btn-orange-100 {
  background-color: #fee4d8;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-orange-100:hover {
  background-color: #fdc2a6;
  transition: background-color 300ms ease-in-out;
}

.btn-orange-200 {
  background-color: #fdcab1;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-orange-200:hover {
  background-color: #fca87f;
  transition: background-color 300ms ease-in-out;
}

.btn-orange-300 {
  background-color: #fcaf8b;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-orange-300:hover {
  background-color: #fb8d59;
  transition: background-color 300ms ease-in-out;
}

.btn-orange-400 {
  background-color: #fb9564;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-orange-400:hover {
  background-color: #fa7332;
  transition: background-color 300ms ease-in-out;
}

.btn-orange-500 {
  background-color: #fa7a3d;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-orange-500:hover {
  background-color: #f9580b;
  transition: background-color 300ms ease-in-out;
}

.btn-orange-600 {
  background-color: #c86231;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-orange-600:hover {
  background-color: #9f4e27;
  transition: background-color 300ms ease-in-out;
}

.btn-orange-700 {
  background-color: #964925;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-orange-700:hover {
  background-color: #6d351b;
  transition: background-color 300ms ease-in-out;
}

.btn-orange-800 {
  background-color: #643118;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-orange-800:hover {
  background-color: #3b1d0e;
  transition: background-color 300ms ease-in-out;
}

.btn-orange-900 {
  background-color: #32180c;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-orange-900:hover {
  background-color: #090402;
  transition: background-color 300ms ease-in-out;
}

.btn-neutral-100 {
  background-color: #dededf;
  color: white;
  border-radius: 5rem;
  transition: all 300ms ease-in-out;
}
.btn-neutral-100:hover {
  color: var(--clr-yellow-500);
  background-color: white;
  transition: all 300ms ease-in-out;
}

.btn-neutral-200 {
  background-color: #bdbdbf;
  color: white;
  border-radius: 5rem;
  transition: all 300ms ease-in-out;
}
.btn-neutral-200:hover {
  color: var(--clr-yellow-500);
  background-color: white;
  transition: all 300ms ease-in-out;
}

.btn-neutral-300 {
  background-color: #9d9d9f;
  color: white;
  border-radius: 5rem;
  transition: all 300ms ease-in-out;
}
.btn-neutral-300:hover {
  color: var(--clr-yellow-500);
  background-color: white;
  transition: all 300ms ease-in-out;
}

.btn-neutral-400 {
  background-color: #7c7c7f;
  color: white;
  border-radius: 5rem;
  transition: all 300ms ease-in-out;
}
.btn-neutral-400:hover {
  color: var(--clr-yellow-500);
  background-color: white;
  transition: all 300ms ease-in-out;
}

.btn-neutral-500 {
  background-color: #5b5b5f;
  color: white;
  border-radius: 5rem;
  transition: all 300ms ease-in-out;
}
.btn-neutral-500:hover {
  color: var(--clr-yellow-500);
  background-color: white;
  transition: all 300ms ease-in-out;
}

.btn-neutral-600 {
  background-color: #49494c;
  color: white;
  border-radius: 5rem;
  transition: all 300ms ease-in-out;
}
.btn-neutral-600:hover {
  color: var(--clr-yellow-500);
  background-color: white;
  transition: all 300ms ease-in-out;
}

.btn-neutral-700 {
  background-color: #373739;
  color: white;
  border-radius: 5rem;
  transition: all 300ms ease-in-out;
}
.btn-neutral-700:hover {
  color: var(--clr-yellow-500);
  background-color: white;
  transition: all 300ms ease-in-out;
}

.btn-neutral-800 {
  background-color: #242426;
  color: white;
  border-radius: 5rem;
  transition: all 300ms ease-in-out;
}
.btn-neutral-800:hover {
  color: var(--clr-yellow-500);
  background-color: white;
  transition: all 300ms ease-in-out;
}

.btn-neutral-900 {
  background-color: #121213;
  color: white;
  border-radius: 5rem;
  transition: all 300ms ease-in-out;
}
.btn-neutral-900:hover {
  color: var(--clr-yellow-500);
  background-color: white;
  transition: all 300ms ease-in-out;
}

.btn-gray-100 {
  background-color: #f2f2f2;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-gray-100:hover {
  background-color: #d8d8d8;
  transition: background-color 300ms ease-in-out;
}

.btn-gray-200 {
  background-color: #e6e6e6;
  color: white;
  border-radius: 5rem;
  transition: background-color 300ms ease-in-out;
}
.btn-gray-200:hover {
  background-color: #cccccc;
  transition: background-color 300ms ease-in-out;
}

.header {
  display: block;
  position: relative;
  width: 100%;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.9);
  transition: position 300ms ease-in-out;
}
.header picture {
  max-width: 14rem;
  width: 100%;
}
.header__navbar {
  padding: var(--fs-300) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navbar__section__container__nav ul {
  margin: 0;
  padding: 0;
}
.header__navbar__section__container__nav ul li {
  display: inline-block;
  line-height: 1;
}
.header__navbar__section__container__nav ul li:not(:last-child) {
  margin-right: var(--fs-500);
}
.header__navbar__section__container__nav ul li a {
  position: relative;
  color: inherit;
  transition: color 300ms ease-in-out;
}
.header__navbar__section__container__nav ul li a::after {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  content: "";
  display: block;
  font-family: "pets4ever-icon";
  line-height: 1;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.header__navbar__section__container__nav ul li a:hover {
  color: var(--clr-yellow-500);
  transition: color 300ms ease-in-out;
}
.header__navbar__section__container__nav ul li a:hover::after {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.header--active .header__navbar__section__toggle {
  position: absolute;
  top: 3.4rem;
  right: 3rem;
  z-index: 300;
}
.header--active .header__navbar__section__toggle__bar {
  background-color: white;
}
.header--active .header__navbar__section__toggle__bar:nth-child(1) {
  transform: rotate(45deg) translate(0.9rem, 0.9rem);
  transition: transform 300ms ease-in-out;
}
.header--active .header__navbar__section__toggle__bar:nth-child(2) {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.header--active .header__navbar__section__toggle__bar:nth-child(3) {
  transform: rotate(-45deg) translate(0.9rem, -0.9rem);
  transition: transform 300ms ease-in-out;
}
.header--active .header__navbar__section__container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-neutral-900);
  z-index: 200;
}
.header--active .header__navbar__section__container__nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header--active .header__navbar__section__container__nav ul li {
  display: block;
  margin: var(--fs-800) 0;
  font-size: var(--fs-700);
  text-align: center !important;
  color: white;
}
@media only screen and (max-width: 768px) {
  .header__navbar__section__toggle {
    cursor: pointer;
  }
  .header__navbar__section__toggle__bar {
    width: 4rem;
    height: 4px;
    background-color: var(--clr-neutral-900);
  }
  .header__navbar__section__toggle__bar:not(:last-child) {
    margin-bottom: 0.8rem;
  }
  .header__navbar__section__toggle__bar:nth-child(1) {
    transform-origin: center;
    transform: rotate(0) translate(0);
    transition: transform 300ms ease-in-out;
  }
  .header__navbar__section__toggle__bar:nth-child(2) {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }
  .header__navbar__section__toggle__bar:nth-child(3) {
    transform-origin: center;
    transform: rotate(0) translate(0);
    transition: transform 300ms ease-in-out;
  }
  .header__navbar__section__container {
    display: none;
  }
}

.whatsapp {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  z-index: 100;
}
.whatsapp a {
  margin: 0;
  padding: var(--fs-400);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-800);
  color: white;
  line-height: 1;
  border-radius: 5rem;
  background-color: #34af23;
  opacity: 0.5;
  transition: background-color 300ms ease-in-out;
}
.whatsapp a:hover, .whatsapp a:focus {
  opacity: 1;
  background-color: #27851b;
  transition: background-color 300ms ease-in-out;
}
.whatsapp a i {
  line-height: inherit;
}

.map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35rem;
}
.map iframe {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}
@media only screen and (max-width: 768px) {
  .map {
    height: 30rem;
  }
}
@media only screen and (max-width: 576px) {
  .map {
    height: 25rem;
  }
}

.footer {
  margin: 0;
  padding: 0;
}
.footer__information {
  padding: 8rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--gap) * 2);
}
.footer__information__about {
  font-size: var(--fs-200);
}
.footer__information__about picture {
  margin-bottom: var(--fs-600);
  max-width: 19rem;
}
.footer__information__about__list {
  margin: 0;
  margin-top: var(--fs-600);
  padding: 0;
}
.footer__information__about__list li {
  display: inline-block;
}
.footer__information__about__list li:first-child {
  margin-right: var(--fs-300);
}
.footer__information__about__list li a {
  font-size: var(--fs-700);
  color: var(--clr-yellow-500);
  transition: color 300ms ease-in-out;
}
.footer__information__about__list li a:hover {
  color: var(--clr-orange-500);
  transition: color 300ms ease-in-out;
}
.footer__information__contact__header {
  margin-bottom: var(--fs-400);
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-size: var(--fs-500);
  color: var(--clr-neutral-900);
}
.footer__information__contact__list {
  margin: 0;
  margin-top: var(--fs-600);
  padding: 0;
  text-align: justify;
}
.footer__information__contact__list li:not(:last-child) {
  margin-bottom: var(--fs-500);
}
.footer__information__contact__list li a {
  display: flex;
  align-items: center;
  color: var(--clr-neutral-500);
  transition: color 300ms ease-in-out;
}
.footer__information__contact__list li a:hover {
  color: var(--clr-orange-500);
  transition: color 300ms ease-in-out;
}
.footer__information__contact__list li a i {
  margin-right: 0.8rem;
  font-size: var(--fs-500) !important;
  color: var(--clr-yellow-500) !important;
}
.footer__information__expedient__header {
  margin-bottom: var(--fs-400);
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-size: var(--fs-500);
  color: var(--clr-neutral-900);
}
.footer__information__expedient__content {
  font-size: var(--fs-200);
}
.footer__information__expedient__content:not(:last-child) {
  margin-bottom: var(--fs-500);
}
.footer__copyright {
  padding: var(--fs-200) 0;
  font-size: var(--fs-200);
  text-align: center;
  line-height: 1 !important;
}
.footer__developer {
  padding: var(--fs-200) 0;
  font-size: var(--fs-200);
  color: white;
  line-height: 1 !important;
}
.footer__developer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__developer__row a {
  color: inherit;
  transition: color 300ms ease-in-out;
}
.footer__developer__row a:hover {
  color: var(--clr-neutral-900);
  transition: color 300ms ease-in-out;
}
.footer__developer__row__validator a {
  display: flex;
  align-items: center;
}
.footer__developer__row__validator a i {
  margin-right: 0.8rem;
  font-size: var(--fs-400);
}
@media only screen and (max-width: 768px) {
  .footer__information {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--gap) * 3);
  }
}
@media only screen and (max-width: 576px) {
  .footer__information {
    padding: 6rem 0;
    grid-template-columns: 1fr;
    gap: calc(var(--gap) * 2);
  }
}
@media only screen and (max-width: 375px) {
  .footer__developer__row {
    display: block;
    text-align: center;
  }
  .footer__developer__row__validator {
    margin-top: var(--fs-300);
    display: flex;
    justify-content: center;
  }
}

@font-face {
  font-family: "pets4ever-icon";
  src: url("../font/pets4ever-icon/fonts/pets4ever-icon.eot?xegd2i");
  src: url("../font/pets4ever-icon/fonts/pets4ever-icon.eot?xegd2i#iefix") format("embedded-opentype"), url("../font/pets4ever-icon/fonts/pets4ever-icon.ttf?xegd2i") format("truetype"), url("../font/pets4ever-icon/fonts/pets4ever-icon.woff?xegd2i") format("woff"), url("../font/pets4ever-icon/fonts/pets4ever-icon.svg?xegd2i#pets4ever-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "pets4ever-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pets-w3c-validator:before {
  content: "";
}

.pets-bone:before {
  content: "";
  color: #f4a52c;
}

.pets-facebook:before {
  content: "";
  color: #f4a52c;
}

.pets-instagram:before {
  content: "";
  color: #f4a52c;
}

.pets-mail:before {
  content: "";
  color: #f4a52c;
}

.pets-paw:before {
  content: "";
}

.pets-phone:before {
  content: "";
  color: #f4a52c;
}

.pets-target:before {
  content: "";
  color: #f4a52c;
}

.pets-whatsapp:before {
  content: "";
  color: #fff;
}

.pages__header {
  padding: 10rem 0;
  font-size: var(--fs-500);
  text-align: center;
  color: white;
  background-image: url("../images/background-pages.svg");
  background-size: cover;
  background-position: bottom;
}
.pages__header h2 {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-size: var(--fs-900);
  margin-bottom: var(--fs-700);
}
.pages__header p {
  line-height: 1;
}
@media only screen and (max-width: 576px) {
  .pages__header h2 {
    font-size: var(--fs-800);
  }
}

.tips__grid {
  padding: 12rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(var(--gap) * 2);
}
.tips__grid__card {
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.tips__grid__card__image {
  width: 100%;
  max-height: 25rem;
  height: auto;
}
.tips__grid__card__image picture {
  width: auto;
  height: auto;
}
.tips__grid__card__image picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.tips__grid__card__body {
  margin: 0;
  padding: calc(var(--gap) * 2);
  background-color: white;
}
.tips__grid__card__body__header {
  margin-bottom: var(--fs-500);
}
.tips__grid__card__body__header h3 {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-size: var(--fs-700);
  text-align: center;
  color: var(--clr-yellow-500);
}
.tips__grid__card__body p {
  text-align: justify;
}
@media only screen and (max-width: 768px) {
  .tips__grid {
    grid-template-columns: 1fr;
  }
  .tips__grid__card__image {
    max-height: 30rem;
  }
}

.cta {
  padding: 8rem 0;
  background-image: url("../images/background-cta.svg");
  background-size: cover;
  background-position: center;
}
.cta__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta__row__header {
  margin-right: 6rem;
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-size: 3.8rem;
  color: black;
}
@media only screen and (max-width: 1200px) {
  .cta__row__header {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 1200px) {
  .cta {
    padding: 6rem 0;
  }
  .cta__row {
    display: block;
    text-align: center;
  }
  .cta__row__header {
    margin-right: 0;
    margin-bottom: var(--fs-600);
  }
}
@media only screen and (max-width: 576px) {
  .cta__row__header {
    font-size: var(--fs-600);
  }
}

/*# sourceMappingURL=style-dicas.css.map */
