@use '../../abstracts' as *;

.services {
    position: relative;
    padding-bottom: 16rem;

    &::after {
        position: absolute;
        bottom: -8rem;
        left: 0;
        content: "";
        display: block;
        width: 20rem;
        height: 30rem;
        background: {
            image: url("../images/vetor-patinha.svg");
            size: cover;
        }
        transform: scaleX(-1);
        opacity: 1;
        z-index: 10;
    }

    &__header {
        margin: 0 auto 10rem auto;
        max-width: 74rem;
        text-align: center;

        h2 {
            margin-bottom: var(--fs-700);
            font-family: "M PLUS Rounded 1c", sans-serif !important;
            font-size: var(--fs-800);
            color: var(--clr-yellow-500);
        }

        p {
            font-size: var(--fs-400);
        }
    }

    &__grid {
        margin: 0 auto;
        max-width: 94rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10rem 20rem;

        &__card {
            transform: scale(1);
            @include transition(transform);

            &:hover {
                transform: scale(1.03);
                @include transition(transform);
            }

            &__image {
                margin-bottom: var(--fs-400);

                img {
                    width: 100%;
                }
            }

            &__header,
            &__body {
                text-align: center;
            }

            &__header {
                margin-bottom: var(--fs-300);
                font-family: "M PLUS Rounded 1c", sans-serif !important;
                font-size: var(--fs-700);
                color: var(--clr-yellow-500);
            }

            &__body {
                margin: 0 auto;
                max-width: 90%;

                p {
                    margin-bottom: var(--fs-600);
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: "Nunito ExtraBold", sans-serif !important;
                    font-size: var(--fs-400);
                    line-height: 1;
                    color: var(--clr-neutral-900);
                    @include transition(color);

                    i {
                        margin-left: 0.8rem;
                        line-height: inherit;
                        font-size: inherit;
                        color: inherit;
                    }

                    &:hover {
                        color: var(--clr-orange-500);
                        @include transition(color);
                    }
                }
            }
        }
    }

    @include mq(xl) {
        &::after {
            width: 15rem;
            height: 22.5rem;
        }
    }

    @include mq(md) {
        &__grid {
            gap: 10rem;
        }
    }

    @include mq(sm) {
        padding-bottom: 10rem;

        &__grid {
            grid-template-columns: 1fr;
            gap: 5rem;
        }
    }
}
