@use '../../abstracts' as *;

.gallery {
    @include padding(12rem);

    &__carousel {
        width: 100%;

        &__item {
            display: flex;
            min-height: 28rem;

            picture {
                border-radius: 1rem;
                overflow: hidden;
            }
        }
    }

    @include mq(sm) {
        @include padding(8rem);
    }
}

.owl-dots {
    text-align: center;
    margin-top: 2rem;
}

.owl-dot {
    width: 4.5rem;
    height: 1.5rem;
    border-radius: 3rem;
    border: 2px solid var(--clr-yellow-500) !important;
    cursor: pointer;
    outline: none;
    background: transparent;
    margin: 0 0.5rem;
    @include transition(background);

    &:hover,
    &.active {
        background: var(--clr-yellow-500) !important;
        @include transition(background);
    }
}
